.banner-toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin: 15px;

    > .active {
        border-color: white;
    }

    > .active:hover {
        border-color: var(--primary);
    }
}

.no-items {
    text-align: center;
    margin: 30px;
    font-size: 1.3em;
}

.layout-container, .layout-container > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid lightgray;
}

.layout-container {
    > div {
        justify-content: start;
        border: none;
    }
}

.layout-container.header {
    background-color: lightgray;

    > div > span {
        font-weight: bold;
        font-size: 1.2em;
    }

    > button, > a {
        visibility: hidden;
    }
}

.details-button {
    border: 2px solid transparent;
    outline: none;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    user-select: none;
}

.details-button:hover {
    background: transparent;
    color: black;
    border: 2px solid var(--primary);
}

.details-button.hover-contrast:hover {
    background: rgba(255, 255, 255, 0.8);
}

.flex-5 {
    flex: 0 0 5%;
}

.flex-10 {
    flex: 0 0 10%;
}

.flex-15 {
    flex: 0 0 15%;
}

.flex-20 {
    flex: 0 0 20%;
}

.flex-25 {
    flex: 0 0 25%;
}

.flex-30 {
    flex: 0 0 30%;
}

.detailed-layout-container {
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    justify-content: space-between;
    position: relative;
}

.detailed-layout-side-container {
    flex: 0 0 15%;
    padding-top: 5dvh;
}

.detailed-layout-side-container.close {
    padding-left: 5dvw;

    > span {
        color: black;
        font-size: 2em;
    }
}

.detailed-layout-side-container.right {
    padding-right: 5dvw;

    > button {
        font-size: x-large;
        position: sticky;
        top: clamp(80px, 15dvh, 100px);
    }
}

.detailed-layout-content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 20px 0;

    > div:not([id]) {
        width: 55%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;

        > div {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 30px;
            font-size: 1.2em;
    
            > *:first-child {
                flex: 0 0 50%;
                font-weight: bold;
            }
    
            > a > img {
                max-width: 100%;
            }
        }
    }

    .detailed-layout-view-button {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

.details-layout-profile-link {
    cursor: pointer;
}

.details-layout-profile-link:hover {
    color: var(--primary);
    text-decoration: underline;
}