@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #E53A73;
    --secondary: #FF6363;
    --dark: #133B5B;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: calc(.5em + 0.5vw) !important;
    overflow-x: hidden;
    
}

h1 {
    text-align: center;
    font-weight: 1000px;
}
